html, body {
    /* margin: 0; */
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    background-color: #0E0E0E;
    
}

header{
    background-image: url("/img/header_movies.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    padding: 2em;
    color: white;
}
.logo{
    font-size: 2.67rem;
    font-weight: 900;
}
nav{
    font-size: 0.875rem;
    font-weight: 800;
}
form{
    margin: -1em auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 120px;
    max-width: 920px;
}
input, button{
    height: 38px;
    border: none;

    font-size: 1.25rem;
}
input{
    background-color: #2E2E2F;
    color: #a5a5a5;
    padding-left: 2em;
    border-radius: 10px 0 0 10px                         ;

}
.search-btn{
    background-color: #4B4B4B;
    color: white;
    border-radius: 0 10px 10px 0;
}
.search-btn:hover{
    background-color: #2E2E2F;
    cursor: pointer;  
}
main{

    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-results{
    color: #2E2E2F;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.movie{
    display: flex;

}
.movie img {
    width: 100px;
}